@media screen and (min-width: 768px) {
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    height: 80px;
    width: 100px;
    align-self: flex-start;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .heading {
    color: #2563eb;
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) {
  .topic {
    color: #64748b;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .button {
    background-color: #3b82f6;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family: 'Roboto';
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .image {
    height: 500px;
    width: 900px;
  }
}
